<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Societies</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="min-h-screen flex flex-col bg-cyan-600">
    <!-- Navbar -->
    {% include 'navbar/navbar.html' %}

    <!-- Main Body -->
    <main class="flex-grow flex items-center justify-center">
      <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md">
        <!-- Tailwind for create group box -->
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">
          Create Group
        </h2>
        <!-- This is the modal for the create group section -->

        <form
          action="{{ url_for('submit_group') }}"
          method="POST"
          enctype="multipart/form-data"
          class="space-y-4"
        >
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700"
              >Group Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Group Name"
              required
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <!-- Text input for group name -->
          </div>
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700"
              >Description</label
            >
            <textarea
              type="text"
              id="description"
              name="description"
              placeholder="Description"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            ></textarea>
            <!-- Text input for description - this can be left empty -->
          </div>
          <div>
            <input type="file" name="image_filename" />
          </div>
          <!-- An image can be added - if no image, a default one is added -->
          <div>
            <button
              type="submit"
              class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-200"
            >
              Create Group
            </button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer -->
    {% include 'footer/footer.html' %}
  </body>
</html>
